#content {
  &.is-meal {
    #layer-meal {
      top: 0;
    }
  }
  &.is-alert {
    #layer-alert {
      top: 0;
    }
  }
}

.layer {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  top: 100%;
  left: 0;
}

// TODO: Switch to CSS vars for color to make color theming work
.layer-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: transparentize($color-marine-dark, 0.1);
  backdrop-filter: blur(0.25rem);
}

.layer-content {
  position: relative;
  max-width: $layoutWidthMax;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
}

.layer-close {
  position: relative;
  right: -1px;
  display: block;
  background-color: color(darkest);
  width: 3rem;
  height: 3rem;
  clip-path: polygon(0.75rem 0, 100% 0, 100% 100%, 0.75rem 100%, 0 calc(100% - 0.75rem), 0 0.75rem);
  @include flex(center, center);

  svg {
    fill: color(light);
    width: 1rem;
    height: auto;
    transform: translateX(0.125rem);
  }
}

.layer-heading {
  width: 100%;
  position: absolute;
  top: -2rem;
  filter: drop-shadow(map-get($shadowSizes, 'small') color(darkest));
  @include flex(space-between, center);

  h1 {
    background-color: color(darkest);
    height: 4rem;
    max-width: calc(100% - 4rem);
    clip-path: polygon(0 0, calc(100% - 0.75rem) 0, 100% 0.75rem, 100% calc(100% - 0.75rem), calc(100% - 0.75rem) 100%, 0 100%);
    color: color(light);
    @include flex(center, center);
    @include spacing(padding-left);
    @include spacing(padding-right);
  }
}

#layer-list {
  position: relative;
  z-index: 0;

  .layer-overlay {
    display: none;
  }

  .layer-content {
    @include pseudo(before, block, absolute) {
      z-index: -1;
      left: spacing(mobile);
      width: calc(100% - #{spacing(mobile, 2)});
      height: 100%;
      @include shadow(large, color(darkest), inset);
      @include breakpoint(tablet) {
        left: spacing(tablet);
        width: calc(100% - #{spacing(tablet, 2)});
      }
      @include breakpoint(desktop) {
        left: spacing(desktop);
        width: calc(100% - #{spacing(desktop, 2)});
      }
      @include breakpoint(desktop-wide) {
        left: spacing(desktop-wide);
        width: calc(100% - #{spacing(desktop-wide, 2)});
      }
    }

    & > article {
      width: 100%;
      @include flex(center, center, column);

      & > header {
        width: 75%;
        margin: 0 auto;
        @include spacing(padding-top);
        @include spacing(padding-bottom);

        svg {
          display: block;
          width: 100%;
          height: auto;
          fill: color(darkest);
        }
      }
    }
  }
}

#layer-meal {
  z-index: 2000;
  @include flex(center, flex-end, column);

  .layer-content {
    width: 100%;
    height: auto;
    background-color: color(medium);
    max-height: calc(100% - 2rem);
    min-height: 50vh;
    padding-top: 2rem;
  }
}

#layer-dish {
  z-index: 4000;
}

#layer-alert {
  z-index: 8000;
}