#meal {
  position: absolute;
  width: 100%;
  top: auto;

  .background {
    svg {
      display: block;
      position: absolute;
      z-index: 0;
      height: 100%;
      width: auto;
      top: 0;
      right: 0;
      fill: color(dark);
      opacity: 0.3;
    }
  }

  .content {
    position: relative;
    @include spacing(padding-left);
    @include spacing(padding-right);
    margin-top: -2rem;
    background-color: color(medium);
    overflow-x: hidden;
  }

  .note {
    position: relative;
    z-index: 1;
    background-color: color(light);
    padding-left: 2rem;
    @include shadow(medium, color(medium), inset);
    @include spacing(margin-top, 2);

    svg {
      position: absolute;
      width: 1rem;
      fill: color(dark);
      top: 0.75rem;
      left: 1rem;
    }
  }
}

#meal-note {
  appearance: none;
  border: none;
  font-size: size(default);
  font-style: italic;
  width: 100%;
  color: color(dark);
  background-color: transparent;
  @include spacing(padding, 0.5);
  @include fontFamily(default);
  @include interact() {
    outline: none;
  }
}

#meal-name {
  @include truncate();
  @include interact(focus) {
    outline: none;

    & + svg {
      fill: color(light);
    }
  }

  & + svg {
    display: block;
    fill: color(dark);
    height: 1em;
    margin-left: 0.5ex;
    @include transition(fast);
  }
}

#meal-dishes {
  display: none;
}

#meal-dish-template {
  display: none;
}

#dish-add {
  margin: 0 auto;
}