#meal {
  position: absolute;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;

  .background {
    svg {
      display: block;
      position: absolute;
      z-index: 0;
      height: 100%;
      width: auto;
      top: 0;
      right: 0;
      fill: color(dark);
      opacity: 0.3;
    }
  }

  .content {
    position: relative;
    z-index: 1;
    margin-top: -2rem;
    background-color: color(medium);
    overflow-x: hidden;
    @include spacing(padding-left);
    @include spacing(padding-right);
    @include shadow(large, color(darkest), inset);
  }

  .note {
    position: relative;
    z-index: 1;
    background-color: color(light);
    padding-left: 2rem;
    @include shadow(medium, color(medium), inset);
    @include spacing(margin-top, 2);

    svg {
      position: absolute;
      width: 1rem;
      fill: color(dark);
      top: 0.75rem;
      left: 1rem;
    }
  }
}

#meal-note {
  appearance: none;
  border: none;
  font-size: size(default);
  font-style: italic;
  width: 100%;
  color: color(dark);
  background-color: transparent;
  @include spacing(padding, 0.5);
  @include fontFamily(default);
  @include interact() {
    outline: none;
  }
}

#meal-name {
  @include truncate();
  @include interact(focus) {
    outline: none;

    & + svg {
      fill: color(light);
    }
  }

  & + svg {
    display: block;
    fill: color(dark);
    height: 1em;
    margin-left: 0.5ex;
    @include transition(fast);
  }
}

#meal-dishes {
  @include list();
  position: relative;
  z-index: 1;
  margin: 2rem auto;
  width: 100%;
  @include spacing(gap, 0.5);
  @include spacing(padding-top);
  @include flex(center, center, column);

  li {
    position: relative;
    background-color: color(dark);
    cursor: pointer;
    margin: 0;
    width: 100%;
    padding-left: 6rem;
    @include spacing(padding-top);
    @include spacing(padding-right);
    @include spacing(padding-bottom);
    @include transition();
    @include shadow(large, color(darkest), inset);
    @include interact() {
      transform: scale(1.025);
      @include shadow(small, color(darkest), inset);
    }

    strong,
    em {
      display: block;
    }

    em {
      color: color(light);
    }

    strong {
      font-size: size(bump);
      padding-right: 2rem;
    }

    .photo {
      @include flex(center, center);
      position: absolute;
      width: 5rem;
      height: 100%;
      top: 0;
      left: 0;

      img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      svg {
        height: 80%;
        margin: auto 2.5% auto auto;
        fill: color(darkest);
      }
    }
  }

  .meal-dish-remove {
    @include flex(center, center);
    background-color: color(alert-color);
    position: absolute;
    width: 3rem;
    height: 2rem;
    top: 50%;
    transform: translateY(-50%);
    clip-path: polygon(0 0, 0.5rem 0.5rem, 1rem 0, 100% 0, 100% 100%, 1rem 100%, 0.5rem calc(100% - 0.5rem), 0 100%, 0 calc(50% + 0.5rem), 0.5rem 50%, 0 calc(50% - 0.5rem));
    transform-origin: right center;
    @include spacing(right, -1);
    @include shadow(medium, color(alert-shade), inset);
    @include transition();
    @include interact() {
      transform: translateY(-50%) scale(1.25);
      background-color: color(alert-shade);
    }

    svg {
      fill: color(lightest);
      height: 1.25rem;
      transform: translate(0.25rem, -0.125rem)
    }
  }
}

#meal-dish-template {
  display: none;
}

#dish-add {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}