#content {
  &.is-select {

    #dishes-select-header {
      display: block;
      color: color(light);
    }

    #dishes {
      @include flex(flex-start, flex-start, row, wrap);
      @include spacing(padding-left);
      @include spacing(padding-right);
      @include spacing(padding-top);
      @include spacing(gap);
      padding-bottom: 6rem;
    }

    .dish {
      @include flex(flex-start, flex-start, column-reverse);
      position: relative;
      width: 100%;
      cursor: pointer;

      .layer-heading {
        position: relative;
        top: unset;

        h1 {
          @include fontFamily(default);
          font-size: size(default);
          padding: 0;
          height: auto;
          background-color: transparent;
          clip-path: unset;
          color: color(lightest);
        }
      }

      .data {
        width: 100%;
        margin: 0;
        height: auto;
        min-height: 1px;
        padding: 0;
      }

      .photo {
        position: relative;
        width: 100%;
        background-color: color(medium);
      }

      .layer-close,
      .details,
      .ingredients,
      .steps,
      .notes,
      .sep {
        display: none;
      }
    }
  }

  &.is-preview {
    .dish {
      .layer-close {
        display: none;
      }
    }
  }
}

#dishes-select-header {
  @include spacing(padding-top);
  @include spacing(padding-right);
  @include spacing(padding-left);
  color: color(light);
  display: none;
}

.dish {
  display: none;
  position: absolute;
  width: 100%;

  &.is-active {
    display: block;
  }

  .layer-heading {
    top: 0;
    position: sticky;
    z-index: 4100;

    h1 {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 0.75rem), calc(100% - 0.75rem) 100%, 0 100%);
    }
  }

  .data {
    background-color: color(dark);
    margin-top: -2rem;
    @include shadow(large, color(darkest), inset);
    z-index: 4001;
    padding-bottom: 6rem;
    min-height: calc(100vh - 2rem);
  }

  ul {
    @include list();
  }

  section {
    width: 100%;

    .photo {
      position: relative;
      aspect-ratio: 16/9;
      @include flex(center, center);

      img,
      svg {
        display: block;
        position: absolute;
      }

      svg {
        height: 90%;
        opacity: 0.2;
        fill: color(darker);
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center center;
      }
    }
  }

  .sep {
    width: 75%;
    margin: 0 auto;

    svg {
      fill: color(darkest);
    }

    &.steps-sep {
      transform: scaleY(-1);
      margin: 1rem auto;
    }
  }

  .details {
    @include spacing(padding);

    li {
      @include flex(flex-start, center);
      margin: 0 0 0.5rem 0;

      svg {
        display: block;
        height: 1rem;
        width: 2rem;
        fill: color(light);
      }
    }
  }

  .ingredients {
    width: 100%;
    @include spacing(padding-left);
    @include spacing(padding-right);
    @include flex(flex-start, flex-start, column);

    li {
      @include flex(flex-start, center);
      border-top: 1px solid color(light);
      width: 100%;
      padding: 0.5rem 0;
      margin: 0;

      &:first-child {
        border-top: none;
      }

      div {
        width: 5rem;
        padding-right: 1rem;
        color: color(light);
        line-height: 1;
        @include flex(flex-end, flex-start, column);

        strong {
          font-size: 2rem;
          letter-spacing: -0.125ex;
        }
      }

      p {
        padding: 0;
        line-height: 1.25;

        strong {
          display: block;
          font-size: size(bump);
        }
      }
    }
  }

  .steps {
    @include list();
    @include spacing(padding-left);
    @include spacing(padding-right);

    li {
      @include flex();
      @include spacing(margin-bottom);

      & > span {
        @include flex(center, center, column);
        width: 3rem;
        color: color(light);
      }

      em {
        font-size: 2rem;
        font-style: normal;
        @include fontWeight(bold);
      }

      p {
        padding: 0 0 0 1rem;

        strong {
          color: color(light);
        }
      }
    }
  }

  .notes {
    border-top: 1px solid color(darkest);
    @include spacing(padding);

    p {
      position: relative;
      padding: 0 0 1rem 2rem;

      svg {
        position: absolute;
        top: 0.25rem;
        left: 0;
        width: 1rem;
        fill: color(light);
      }
    }
  }
}