#alert {
  @include spacing(padding-left);
  @include spacing(padding-right);
  background-color: color(light);
  @include shadow(large, color(dark), inset);

  h1 {
    background-color: color(darkest);
    color: color(light);
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 0.75rem), calc(100% - 0.75rem) 100%, 1rem 100%, 0 calc(100% - 0.75rem));
  }
}